Repository jacobwojcik/property-management-api: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, prisma format

.lintstagedrc:

{
  "*.ts": ["eslint --fix", "prettier --write"],
  "*.{json,md,yml}": ["prettier --write"],
  "*.prisma": ["prisma format"]
}

chore: migrate databases
  prisma/schemas/dev/migrations/20250127201145_initial/migration.sql
  prisma/schemas/dev/migrations/migration_lock.toml
  prisma/schemas/dev/schema.prisma
  prisma/schemas/test/migrations/20250129012327_initial_test/migration.sql
  prisma/schemas/test/migrations/migration_lock.toml
  prisma/schemas/test/schema.prisma
Due: prisma format

feat: update cofig files
  .env.example
  .eslintrc.cjs
  .gitignore
  .lintstagedrc
  Dockerfile
  codegen.yml
  docker-compose.yml
  src/graphql/graphql.ts
  src/graphql/schema.graphql
Due: eslint --fix, prettier --write

feat: setup server and deps container
  src/index.ts
  src/infrastructure/deps-manager/container.abstract.ts
  src/infrastructure/deps-manager/container.ts
  src/infrastructure/deps-manager/registry.ts
  src/infrastructure/server/server.ts
Due: eslint --fix, prettier --write

feat: create property module
  src/infrastructure/server/server.ts
  src/modules/property/repositories/property.repository.interface.ts
  src/modules/property/repositories/property.repository.ts
  src/modules/property/resolvers/property.resolvers.ts
  src/modules/property/schemas/property.schema.ts
  src/modules/property/services/property.service.ts
  src/shared/config/config.ts
  src/shared/config/config.types.ts
Due: eslint --fix, prettier --write

feat: create weather service and errors base
  src/modules/property/repositories/property.repository.interface.ts
  src/modules/property/repositories/property.repository.ts
  src/modules/property/schema/property.schema.ts
  src/modules/property/services/property.service.ts
  src/modules/weather/services/weather.service.ts
  src/shared/errors/base.error.ts
  src/shared/errors/property.errors.ts
  src/shared/errors/weather.error.ts
  src/utils/formatError.ts
Due: eslint --fix, prettier --write

test: add unit and integration tests
  package.json
  pnpm-lock.yaml
  tests/helpers/mocks/property.mock.ts
  tests/helpers/mocks/weather.mock.ts
  tests/helpers/test-container.ts
  tests/integration/property/create-property.test.ts
  tests/integration/property/delete-property.test.ts
  tests/integration/property/query-properties.test.ts
  tests/unit/property/property.service.test.ts
  tests/unit/weather/weather.service.test.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

feat: add base logging
  src/infrastructure/server/plugins/logging.plugin.ts
  src/infrastructure/server/server.ts
  src/shared/logger/logger.ts
Due: eslint --fix, prettier --write

fix: prisma types mapping
  codegen.yml
  src/graphql/graphql.ts
  src/graphql/schema.graphql
  src/infrastructure/deps-manager/container.abstract.ts
  src/infrastructure/deps-manager/container.ts
  src/modules/property/repositories/property.repository.interface.ts
  src/modules/property/repositories/property.repository.ts
  src/modules/property/resolvers/property.resolvers.ts
  src/modules/property/schema/property.schema.ts
  src/modules/property/services/property.service.ts
  src/modules/weather/services/weather.service.ts
  src/shared/config/config.types.ts
  src/shared/errors/base.error.ts
  src/shared/errors/property.errors.ts
  src/shared/errors/weather.error.ts
  src/types.ts
  tests/helpers/mocks/property.mock.ts
  tests/helpers/test-container.ts
  tests/integration/property/query-properties.test.ts
  tests/unit/property/property.service.test.ts
Due: eslint --fix, prettier --write

chore: match schema types
  codegen.yml
  src/graphql/schema.graphql
  src/graphql/types.ts
  src/infrastructure/deps-manager/container.abstract.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

reafactor: deps container
  src/infrastructure/deps-manager/container.ts
  src/infrastructure/deps-manager/deps-container.abstract.ts
  src/infrastructure/deps-manager/deps-container.ts
  src/infrastructure/deps-manager/registry.ts
  src/infrastructure/server/server.ts
  tests/helpers/test-deps-container.ts
Due: eslint --fix, prettier --write

chore: update imports
  prisma/schemas/dev/schema.prisma
  src/index.ts
  src/modules/property/repositories/property.repository.interface.ts
  src/modules/property/repositories/property.repository.ts
  src/modules/property/resolvers/property.resolvers.ts
  src/modules/property/schema/property.schema.ts
  src/modules/property/services/property.service.ts
  src/modules/weather/services/weather.service.ts
  src/shared/errors/base.error.ts
  src/shared/errors/property.errors.ts
  src/shared/logger/logger.ts
  src/utils/formatError.ts
  src/utils/formatZodError.ts
Due: eslint --fix, prettier --write, prisma format

test: finish tests setup
  package.json
  pnpm-lock.yaml
  tests/helpers/mocks/property.mock.ts
  tests/helpers/mocks/weather.mock.ts
  tests/integration/property/create-property.test.ts
  tests/integration/property/delete-property.test.ts
  tests/integration/property/query-properties.test.ts
  tests/unit/property/property.service.test.ts
  tests/unit/weather/weather.service.test.ts
Due: eslint --fix, prettier --write

docs: add readme
  README.md
Due: prettier --write

chore: cleanup config
  .env.example
  docker-compose.yml
  package.json
Due: prettier --write

chore: cleanup
  package.json
  src/modules/property/repositories/property.repository.ts
  src/modules/property/schema/property.schema.ts
  tests/helpers/mocks/property.mock.ts
  tests/helpers/test-deps-container.ts
  tests/integration/property/query-properties.test.ts
Due: eslint --fix, prettier --write

ci: add ci workflow
  .github/workflows/ci.yml
Due: prettier --write

ci: change jobs order
  .github/workflows/ci.yml
Due: prettier --write

ci: migrate test db
  .github/workflows/ci.yml
Due: prettier --write

docs: update readme
  README.md
Due: prettier --write

fix: state type imports
  src/infrastructure/server/server.ts
  tests/helpers/mocks/property.mock.ts
  tests/unit/property/property.service.test.ts
Due: eslint --fix, prettier --write
